html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300; }

p, li, blockquote {
  font-family: Cambria, Georgia, serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

pre {
  font-family: "Source Code Pro", monospace;
  background-color: #efefef;
  padding: 10px; }

blockquote {
  background-color: #dddddd;
  border-left: 5px solid #55ff55;
  margin: auto 0;
  padding: 10px; }
  blockquote:after {
    content: attr(cite);
    color: #777777;
    font-size: 75%;
    margin-left: 5px;
    text-align: right; }

.busy {
  opacity: 0.5; }

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 300px;
  transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  -webkit-transition: right 0.5s;
  left: 0;
  border-right: 1px solid black;
  font-size: 125%; }

.comments {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  right: 0;
  overflow: scroll; }

.hide-comments:before {
  content: "Hide "; }

body.comments-hidden .content {
  right: 0;
  transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  -webkit-transition: right 0.5s; }
body.comments-hidden .comments {
  width: 0;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  overflow: hidden; }
body.comments-hidden .hide-comments:before {
  content: "Show "; }

body.loading {
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: black url("/images/loading.gif") no-repeat center; }
  body.loading * {
    display: none; }

#notice {
  font-family: Helvetica, Arial, sans-serif;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -16px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  z-index: 100; }
  #notice:before {
    content: "";
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    height: 300px;
    margin-top: -150px;
    background-color: black;
    opacity: 0.5;
    z-index: -1; }
  #notice:after {
    content: "(click anywhere to dismiss)";
    position: fixed;
    top: 50%;
    right: 10px;
    margin-top: -140px;
    font-size: 12px;
    z-index: 1; }
