html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300; }

p, li, blockquote {
  font-family: Cambria, Georgia, serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

pre {
  font-family: "Source Code Pro", monospace;
  background-color: #efefef;
  padding: 10px; }

blockquote {
  background-color: #dddddd;
  border-left: 5px solid #55ff55;
  margin: auto 0;
  padding: 10px; }
  blockquote:after {
    content: attr(cite);
    color: #777777;
    font-size: 75%;
    margin-left: 5px;
    text-align: right; }

.busy {
  opacity: 0.5; }

.comments form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  text-align: right;
  width: 100%; }
  .comments form input[type="text"], .comments form textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    width: 100%; }
  .comments form input[type="text"] {
    margin-bottom: 5px; }
  .comments form textarea {
    height: 75px; }
.comments .comment-list .comment {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-top: 2px solid #c3c3c3;
  padding: 5px;
  min-height: 60px;
  width: 100%; }
  .comments .comment-list .comment div {
    cursor: default; }
  .comments .comment-list .comment .picture {
    position: absolute;
    top: 5px;
    left: 5px; }
  .comments .comment-list .comment .name,
  .comments .comment-list .comment .time,
  .comments .comment-list .comment .text {
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 55px; }
  .comments .comment-list .comment .name,
  .comments .comment-list .comment .time {
    font-size: 12px; }
  .comments .comment-list .comment .name:empty:before {
    content: "(anonymous)"; }
  .comments .comment-list .comment .name:after {
    content: " said:"; }
  .comments .comment-list .comment .time {
    color: #777777; }
  .comments .comment-list .comment:hover {
    background-color: #ffffee;
    border-top: 2px solid #00eeee; }
