.content .editor {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 40px; }
  .content .editor .CodeMirror {
    position: absolute;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    font-family: "Source Code Pro", monospace;
    height: 100%; }
  .content .editor .CodeMirror-scoll {
    position: absolute;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: scroll; }
.content .preview {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 40px;
  padding: 0 20px;
  overflow: scroll; }
  .content .preview h1, .content .preview h2, .content .preview h3 {
    border-top: 1px solid black; }
