html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300; }

p, li, blockquote {
  font-family: Cambria, Georgia, serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

pre {
  font-family: "Source Code Pro", monospace;
  background-color: #efefef;
  padding: 10px; }

blockquote {
  background-color: #dddddd;
  border-left: 5px solid #55ff55;
  margin: auto 0;
  padding: 10px; }
  blockquote:after {
    content: attr(cite);
    color: #777777;
    font-size: 75%;
    margin-left: 5px;
    text-align: right; }

.busy {
  opacity: 0.5; }

.content .tabs {
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  top: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #444444;
  color: white;
  font-size: 75%; }
  .content .tabs a {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    color: #bbffff; }
    .content .tabs a:hover {
      background-color: #aaaaaa; }
    .content .tabs a.new-link {
      color: #f75f8a; }
    .content .tabs a.selected, .content.editing .tabs a.edit-tab, .content.viewing .tabs a.preview-tab, .content.split .tabs a.side-by-side-tab, .content.list .tabs a.drafts-tab {
      background-color: white;
      color: #00bbbb; }
  .content .tabs .actions {
    float: right; }
    .content .tabs .actions a {
      color: #bbffbb; }
.content .page {
  overflow: auto; }

.content .page {
  display: none; }

.content.editing .editors {
  display: block; }

.content.viewing .preview {
  display: block; }

.content.split .editors {
  display: block;
  border-right: 1px solid black;
  right: 50%; }
.content.split .preview {
  display: block;
  left: 50%; }

.content.list .drafts {
  display: block; }
.content.list .toolbar .actions a {
  display: none; }
