html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300; }

p, li, blockquote {
  font-family: Cambria, Georgia, serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

pre {
  font-family: "Source Code Pro", monospace;
  background-color: #efefef;
  padding: 10px; }

blockquote {
  background-color: #dddddd;
  border-left: 5px solid #55ff55;
  margin: auto 0;
  padding: 10px; }
  blockquote:after {
    content: attr(cite);
    color: #777777;
    font-size: 75%;
    margin-left: 5px;
    text-align: right; }

.busy {
  opacity: 0.5; }

.content .toolbar {
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #777777;
  color: white;
  font-size: 75%; }
  .content .toolbar a {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    color: #bbffff; }
    .content .toolbar a:hover {
      background-color: #aaaaaa; }
  .content .toolbar .actions {
    float: right; }
    .content .toolbar .actions a {
      color: #bbffbb; }
      .content .toolbar .actions a.delete-draft {
        color: #ffd555; }
