@import common

.content
  @include stretch-y
  @include transition(right, 300px)
  left: 0
  border-right: 1px solid black
  font-size: 125%

.comments
  @include stretch-y
  @include transition(width, 300px)
  right: 0
  overflow: scroll

.hide-comments:before
  content: "Hide "

body.comments-hidden
  .content
    @include transition(right, 0)
  .comments
    @include transition(width, 0)
    overflow: hidden
  .hide-comments:before
    content: "Show "

body.loading
  @include translucent
  background: $black url("/images/loading.gif") no-repeat center

  *
    display: none

#notice
  @include simpleFont
  position: fixed
  top: 50%
  left: 0
  right: 0
  margin-top: -16px
  color: $white
  font-size: 32px
  font-weight: bold
  letter-spacing: -1px
  text-align: center
  z-index: 100

  &:before
    content: ""
    position: fixed
    top: 50%
    left: 0
    right: 0
    height: 300px
    margin-top: -150px
    background-color: $black
    opacity: 0.5
    z-index: -1

  &:after
    content: "(click anywhere to dismiss)"
    position: fixed
    top: 50%
    right: 10px
    margin-top: -140px
    font-size: 12px
    z-index: 1
