@import common

.comments
  form
    @include border-box
    padding: 5px
    text-align: right
    width: 100%

    input[type="text"], textarea
      @include border-box
      padding: 5px
      width: 100%

    input[type="text"]
      margin-bottom: 5px

    textarea
      height: 75px

  .comment-list
    .comment
      @include border-box
      position: relative
      border-top: 2px solid lighten($gray, 30%)
      padding: 5px
      min-height: 60px
      width: 100%

      div
        cursor: default

      .picture
        position: absolute
        top: 5px
        left: 5px

      .name,
      .time,
      .text
        @include simpleFont
        padding-left: 55px

      .name,
      .time
        font-size: 12px

      .name:empty:before
        content: "(anonymous)"

      .name:after
        content: " said:"

      .time
        color: $gray

      &:hover
        background-color: $yellow
        border-top: 2px solid darken($blue, 40%)
