// Colors, baby
$gray:   #777
$white:  #fff
$black:  #000
$blue:   #bff
$green:  #bfb
$yellow: #ffe
$pink:   #f52e67
$orange: #feb

// Other stuff
$transition-time: 0.5s

// Layout stuff
@mixin border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

@mixin stretch-x
  position: absolute
  left: 0
  right: 0

@mixin stretch-y
  position: absolute
  top: 0
  bottom: 0

@mixin stretch-both
  @include stretch-x
  @include stretch-y

@mixin contentFont
  font-family: Cambria, Georgia, serif

@mixin simpleFont
  font-family: Helvetica, Arial, sans-serif

@mixin labelFont
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif

@mixin codeFont
  font-family: "Source Code Pro", monospace

@mixin translucent
  opacity: 0.5
  filter: alpha(opacity=50)

// Transition stuff
@mixin transition($property, $value)
  #{$property}: $value
  transition: $property $transition-time
  -moz-transition: $property $transition-time
  -o-transition: $property $transition-time
  -webkit-transition: $property $transition-time

// Universal styling
html,
body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

h1, h2, h3
  @include labelFont
  font-weight: 300

p, li, blockquote
  @include contentFont

a
  text-decoration: none
  &:hover
    text-decoration: underline

pre
  @include codeFont
  background-color: #efefef
  padding: 10px

blockquote
  background-color: lighten($gray, 40%)
  border-left: 5px solid darken($green, 20%)
  margin: auto 0
  padding: 10px

  &:after
    content: attr(cite)
    color: $gray
    font-size: 75%
    margin-left: 5px
    text-align: right

.busy
  opacity: 0.5
