@import common

.content
  .tabs
    @include stretch-x
    @include labelFont
    top: 0
    height: 40px
    line-height: 40px
    padding: 0 10px
    background-color: darken($gray, 20%)
    color: $white
    font-size: 75%

    a
      display: inline-block
      padding: 0 10px
      line-height: 40px
      color: $blue

      &:hover
        background-color: lighten($gray, 20%)

      &.selected
        background-color: $white
        color: darken($blue, 50%)

    .actions
      float: right

      a
        color: $green

.content.edit
  .tabs
    a.edit-tab
      @extend .selected
  .editor
    display: block
  .preview
    display: none

.content.preview
  .tabs
    a.preview-tab
      @extend .selected
  .editor
    display: none
  .preview
    display: block

.content.split
  .tabs
    a.side-by-side-tab
      @extend .selected
  .editor
    display: block
    right: 50%
  .preview
    display: block
    left: 50%
